.grid {
  display: grid;
  height: 100vh;
  text-transform: uppercase;
  text-align: center;
  /* sizes of columns and rows can use CSS units such as px or vw */
  /* auto keyword enables columns or rows to stretch across all available space */
  /* fr is a fractional unit which causes any available space to be distributed to columns based on ratios of these columns */
  grid-template-columns: repeat(4, 1fr);
  /* minmax() defines the min and max of dynamic columns and rows */
  grid-template-rows: 1fr 3fr repeat(3, 1fr);
  grid-template-areas: "header menu menu menu"
                       "hero hero hero hero"
                       "main main . image"
                       "main main . extra"
                       "banner banner banner banner";
  /* grid-gap controls the gaps between rows and columns */
  grid-gap: 5px 10px;

}

div {
  padding-top: 5px;
}

h1, h2 {
  margin: 0;
  border: 2px solid black;
}

.header {
  grid-area: header;
  background-color: lightblue;
}

.hero {
  grid-area: hero;
  background-color: darkgreen;
}

.menu {
  grid-area: menu;
  background-color: purple;
}

.main {
  grid-area: main;
  background-color: yellow;
}

.banner {
  grid-area: banner;
  background-color: teal;
}

.extra {
  grid-area: extra;
  background-color: orange;
}

.image {
  grid-area: image;
  background-color: brown;
}

.toolbar {
  grid-area: 1 / -2 / -1 / -1;
  background-color: red;
  opacity: 0.75;
  /* z-index controls the order in which elements on the page stack */
  z-index: 1;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
    /* minmax() defines the min and max of dynamic columns and rows */
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "header"
                         "menu"
                         "hero"
                         "main"
                         "image"
                         "extra"
                         "banner"
                         "toolbar";
  }

  .toolbar {
    grid-area: toolbar;
  }
}
